<div class="account-box">

  <h3 class="text-center">企业荣誉（Company Honor）</h3>

  <!-- "增加文章"按钮 -->
  <br>
  <div>
    <%= link_to("增加", new_admin_companyhonor_path, class: "btn btn-sm btn-default pull-right") %>
  </div>


  <!-- 所有文章列表 -->
  <table class="table table-hover table-bordered table-responsive">
    <thead>
      <tr>
        <td>ID</td>


        <td>更新时间</td>
        <td>编辑</td>



      </tr>
    </thead>
    <tbody>
      <% @companyhonors.each do |companyhonor| %>
        <tr>
          <td><%= link_to(companyhonor.id, companyhonors_path) %></td>




          <td><%= companyhonor.updated_at %></td>
          <td>
            <%= link_to("Edit", edit_admin_companyhonor_path(companyhonor)) %> |
            <%= link_to("destroy", admin_companyhonor_path(companyhonor), method: :delete, data: { confirm: "你确定要删除吗？"}) %>
          </td>


        </tr>
      <% end %>
    </tbody>
  </table>

</div>
