
<!-- ↓↓↓ 大图滚动banner 代码块↓↓↓ -->
  <div class="row">
    <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
      <div class="overlay">

      </div>

      <!-- 默认三张图列表 -->
      <div class="banner">
        <ul class="carousel-indicators ">
          <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#bs-carousel" data-slide-to="1"></li>
          <li data-target="#bs-carousel" data-slide-to="2"></li>
        </ul>
      </div>

      <!-- 文案部分 -->
      <div class="carousel-inner">
 <div class="item slides active">

     <%= image_tag(Banner.first.pic, class: "slide-1") %>


   <div class="hero row">
     <hgroup>
       <%= raw Banner.first.title %>
     </hgroup>
     <!-- <button class="btn btn-hero btn-lg" role="button">测试跳转链接</button> -->
   </div>
 </div>
 <div class="item slides">

     <%= image_tag(Banner.second.pic, class: "slide-2") %>

   <div class="hero">
     <hgroup>
       <%= raw Banner.second.title %>
     </hgroup>
     <!-- <button class="btn btn-hero btn-lg" role="button">测试跳转链接</button> -->
   </div>
 </div>
 <div class="item slides">

     <%= image_tag(Banner.third.pic, class: "slide-3") %>

   <div class="hero">
     <hgroup>
       <%= raw Banner.third.title %>
     </hgroup>
     <!-- <button class="btn btn-hero btn-lg" role="button">测试跳转链接</button> -->
   </div>
 </div>
</div>
</div>
</div>
<!-- ↑↑↑ 大图滚动banner 代码块 ↑↑↑ -->


<!-- 尚德信世界地图 -->
<div class="row">

  <!-- 公司业务特点 -->
    <div class="landing-page-topic">
        <div class="container">
          <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="tagline text-center">
                  <!-- 一站式全方位专业出国服务提供商 -->
                  <img src="https://i.loli.net/2017/08/25/59a032b0ab329.png" alt="" width="80%">
                </div>
                <div class="subtits">
                  我们专为企业家移民后在海外进入华人主流社圈提供平台
                </div>
                <div class="text-center">
                  <%= image_tag("https://i.loli.net/2017/08/25/59a036202e0ef.png",width:"90%",class: "img-center frontpage-img") %>

                </div>

              </div>
          </div>
      </div>
    </div>
</div>

<!-- 尚德信服务特色 -->
<div class="landing-page-svadg">
  <div class="container">
    <div class="row">
        <div class="col-md-12">
        <div class="tagline text-center">
          <img src="https://i.loli.net/2017/08/25/59a033876a534.png" alt="" width="60%">
        </div>
      </div>

        <div class="col-xs-12 col-sm-12 col-md-3 text-center">
          <style>
            .zoom-box{height: 210px;}
            .img-zoom{display: block;width: 94%; margin-left: 3%; vertical-align: middle;}
          </style>
          <div class="index-service-imag">
            <div class="zoom-box">
            <%= image_tag("https://ww2.sinaimg.cn/large/006tNc79gy1fhrpat4c0fj309906yjs9.jpg", class: "img-zoom img-center frontpage-img") %>
            </div>
            <p class="subtits">子女人生规划的教育平台</p>
            <p class="subspan">为客户子女量身定制出国学习计划
              <br>规划其移民后的人生步骤
              <br>使其能更顺利地融入国外的学习与生活
            </p>
          </div>
          <script>
          $(".img-zoom").hover(function(){
            $(this).animate({
              "width":"100%",
              "marginLeft":"0"
            },100);
          },function(){
            $(this).animate({
              "width":"94%",
              "marginLeft":"3%"
            },100);
          });
          </script>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-3 text-center">
          <div class="index-service-imag">
            <div class="zoom-box">
              <%= image_tag("https://ww3.sinaimg.cn/large/006tNc79gy1fhrp2ntmp2j30i00dg40j.jpg", class: "img-zoom img-center frontpage-img") %>
            </div>
            <p class="subtits">企业家交流平台</p>
              <p class="subspan">为VIP客户及已成功登陆客户
                <br> 成立旅加、旅美华人沙龙
                <br>举办各种聚会、晚宴及参观旅游活动
              </p>
          </div>
          <script>
          $(".img-zoom").hover(function(){
            $(this).animate({
              "width":"100%",
              "marginLeft":"0"
            },100);
          },function(){
            $(this).animate({
              "width":"94%",
              "marginLeft":"3%"
            },100);
          });
          </script>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-3 text-center">
          <div class="index-service-imag">
            <div class="zoom-box">
              <%= image_tag("https://ww4.sinaimg.cn/large/006tNc79gy1fhrp8h9ttbj30b208agm8.jpg", class: " img-zoom img-center frontpage-img") %>
            </div>
            <p class="subtits">移民100%成功</p>
            <p class="subspan">100%绝对真实可靠项目
              <br>资深投资背景团队
              <br>帮助您全家迅速获得身份
            </p>
          </div>
          <script>
          $(".img-zoom").hover(function(){
            $(this).animate({
              "width":"100%",
              "marginLeft":"0"
            },100);
          },function(){
            $(this).animate({
              "width":"94%",
              "marginLeft":"3%"
            },100);
          });
          </script>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 text-center">
          <div class="index-service-imag">
            <div class="zoom-box">
              <%= image_tag("https://ww1.sinaimg.cn/large/006tNc79gy1fhrx1uxfhoj30vu0nwadb.jpg", class: " img-zoom img-center frontpage-img") %>
            </div>

            <p class="subtits">总裁服务</p>
            <p class="subspan">尚德信总裁有着多年的移民经验
              <br>秉承“客户即朋友”的服务理念
              <br>给顾客一个VIP级专属服务
              </p>
          </div>
          <script>
          $(".img-zoom").hover(function(){
            $(this).animate({
              "width":"100%",
              "marginLeft":"0"
            },100);
          },function(){
            $(this).animate({
              "width":"94%",
              "marginLeft":"3%"
            },100);
          });
          </script>

        </div>
     </div>
  </div>
</div>




<!-- 北美移民国家-->
<div class="row">


  <div class="landing-page-mid" style="background-color:#f1f1f1;">
    <div class="container">
      <div class="row">

        <div class="col-md-12">
          <div class="tagline text-center">
            <img src="https://i.loli.net/2017/08/25/59a033876a534.png" alt="" width="60%">
          </div>
        </div>

        <!-- <p  class="titspan text-center">
          180万人民币起购房享欧洲福利 <br>
          帮助您构建海外资产蓝图
        </p> -->

         <h4 class="text-center tagp">
             精选欧洲移民项目
         </h4>
        <div class="container">
          <div class="col-xs-6  col-sm-6 col-md-3" style="padding-bottom:5px;">
            <div class="img-rela">
              <%= image_tag("https://ww1.sinaimg.cn/large/006tNc79gy1fhtnhwmjwtj30xc0xcqfo.jpg", class: "img-responsive img-center frontpage-img") %>
              <div class="img-rela-bg"></div>
              <div class="img-rela-font">色块</div>
            </div>
            <div class="img-rela" style="margin-top:10px;">
              <%= image_tag("https://ww2.sinaimg.cn/large/006tNc79gy1fhtnhuiyw2j30b40b5mz6.jpg", class: "img-responsive img-center frontpage-img") %>
              <div class="img-rela-bg"></div>
              <div class="img-rela-font">美国移民优势</div>
            </div>

          </div>
          <div class="col-xs-6  col-sm-6 col-md-3" style="padding-bottom:5px;">
            <style>
              /*------------------------------------默认样式--------------------------------------------*/
              .img-rela.anim1 {position:relative;}
              .img-rela.anim1 .img-rela-bg {position:absolute;top:0;left:0;bottom:0;right: 0;background: #333; opacity: 0.5;z-index: 1;}
              .img-rela.anim1 .img-rela-font {position:absolute;top:0;left:0;bottom:0;right: 0;z-index: 2;text-align: center;color: white;font-size: 18px;}
              .img-rela.anim1 .img-rela-bg{display: none;}
              .img-rela.anim1:hover .img-rela-bg{display: block;}
              .img-rela.anim1 .img-rela-font{display: block; overflow: hidden;}
              .img-rela.anim1 .img-rela-font .font-title { width: 92%; line-height: 50px ;text-align: left; padding: 0 4%; display: none;}
              .img-rela.anim1 .img-rela-font .font-line { display: none;width: 0;height: 2px; background: white; margin: 0 4% 10px;}
              .img-rela.anim1 .img-rela-font .font-content{display: none;width: 92%; padding: 4%;line-height: 24px;font-size: 12px;text-align: left;  margin-left:100%;}
              .img-rela.anim1:hover .img-rela-font .font-line { display: block;}
              .img-rela.anim1:hover .img-rela-font .font-content{display: block;}
              /*------------------------------------默认样式.end--------------------------------------------*/

              /*------------------------------------声东击西--------------------------------------------*/
              .img-rela.anim1.rela2 .img-rela-bg{display: none;}
              .img-rela.anim1.rela2 .img-rela-font{display: none; top:45%; overflow: hidden;}
              .img-rela.anim1.rela2 .img-rela-font .font-title{display: none; }
              .img-rela.anim1.rela2:hover .img-rela-bg{display: block;}
              .img-rela.anim1.rela2:hover .img-rela-font{display: block; overflow: hidden;}
              .img-rela.anim1.rela2:hover .img-rela-font .font-title{display: block; }
              /*------------------------------------声东击西.end--------------------------------------------*/
            </style>
            <div class="img-rela anim1 rela1">
              <%= image_tag("https://ww4.sinaimg.cn/large/006tKfTcgy1fivahpl0gvj30eo0tzq5r.jpg", class: "img-responsive img-center frontpage-img") %>
              <div class="img-rela-bg"></div>
              <div class="img-rela-font">
                <div class="font-title">美国移民</div>
                <hr class="font-line">
                <div class="font-content">美国移民反对撒发来的急撒开发力度将阿斯科利发动机啊索科洛夫的撒酒疯快乐的撒酒疯扣篮大赛阿警方看到了撒</div>
              </div>
              <script>
                //默认样式浮动事件
                $(".img-rela.rela1").hover(function(){
                  var obj =$(this); //保存当前对象
                  $(obj).find(".font-title").show();  //找到当前对象下的font-title元素显示
                  $(this).find(".font-line").animate({ //找到当前对象下的font-line元素，并将宽度以300毫秒的速度从默认样式变成92%
                    'width':"92%"
                  },300);
                  $(this).find(".font-content").animate({
                    'marginLeft':"0"
                  },300);
                },function(){
                  var obj =$(this);
                  $(this).find(".font-line").animate({
                    'width':"0"
                  },100);
                  $(this).find(".font-content").animate({
                    'marginLeft':"100%"
                  },100,function(){ //该动画完成后，将font-title隐藏
                    $(obj).find(".font-title").hide();
                  });
                })
              </script>
            </div>
          </div>

          <div class="col-xs-6  col-sm-6 col-md-3" style="padding-bottom:5px;">
            <div class="img-rela">
              <%= image_tag("https://ww2.sinaimg.cn/large/006tNc79gy1fhtntougkhj30fg0aagni.jpg", class: "img-responsive img-center frontpage-img") %>
              <div class="img-rela-bg"></div>
              <div class="img-rela-font">色块</div>
            </div>
            <div class="img-rela anim1 rela2" style="margin-top:10px;">
              <%= image_tag("https://ww2.sinaimg.cn/large/006tKfTcgy1fiv8ozzz6aj30mi0txdk9.jpg", class: "img-responsive img-center frontpage-img") %>
              <div class="img-rela-bg"></div>
              <div class="img-rela-font">加拿大移民
              </div>
              <script>
                //
                $(".img-rela.rela2").hover(function(){  //指定对象的浮动事件
                  $(".img-rela.rela3 .font-title").show();  //需要显示的对象的font-title元素显示
                  $(".img-rela.rela3 .img-rela-bg").show();
                  $(".img-rela.rela3").find(".font-line").show().animate({
                    'width':"92%"
                  },300);
                  $(".img-rela.rela3").find(".font-content").show().animate({
                    'marginLeft':"0"
                  },300);
                },function(){
                  $(".img-rela.rela3").find(".font-line").animate({
                    'width':"0"
                  },100);
                  $(".img-rela.rela3").find(".font-content").animate({
                    'marginLeft':"100%"
                  },100,function(){
                    $(".img-rela.rela3 .img-rela-bg").hide();
                    $(".img-rela.rela3 .font-title").hide();
                  });
                })
              </script>
            </div>


          </div>
          <div class="col-xs-6  col-sm-6 col-md-3" style="padding-bottom:5px;">
            <div class="img-rela">
              <%= image_tag("https://ww2.sinaimg.cn/large/006tNc79gy1fhtoqjxof9j30rr0dw78t.jpg", class: "img-responsive img-center frontpage-img") %>
              <div class="img-rela-bg"></div>
              <div class="img-rela-font">加拿大优势</div>
            </div>
            <div class="img-rela anim1 rela3" style="margin-top:5px;">
              <%= image_tag("https://ww1.sinaimg.cn/large/006tNc79gy1fhtnhwmjwtj30xc0xcqfo.jpg", class: "img-responsive img-center frontpage-img") %>
              <div class="img-rela-bg"></div>
              <div class="img-rela-font">
                <div class="font-title">加拿大移民</div>
                <hr class="font-line">
                <div class="font-content">美国移民反对撒发来的急撒开发力度将阿斯科利发动机啊索科洛夫的撒酒疯快乐的撒酒疯扣篮大赛阿警方看到了撒</div>
              </div>
            </div>
            <div class="img-rela" style="margin-top:5px;">
              <%= image_tag("https://ww2.sinaimg.cn/large/006tNc79gy1fhtoqjxof9j30rr0dw78t.jpg", class: "img-responsive img-center frontpage-img") %>
              <div class="img-rela-bg"></div>
              <div class="img-rela-font">色块</div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
  </div>

<!-- 欧洲移民国家-->
<div class="row">


  <div class="landing-page-mid">
    <div class="container">
      <div class="row">

        <div class="col-md-12">
          <div class="tagline text-center">
            <img src="https://i.loli.net/2017/08/25/59a033877ab1b.png" alt="" width="60%">
          </div>
        </div>

        <!-- <p  class="titspan text-center">
          180万人民币起购房享欧洲福利 <br>
          帮助您构建海外资产蓝图
        </p> -->

         <h4 class="text-center tagp">
             精选欧洲移民项目
         </h4>
        <div class="container">
          <div class="col-xs-6  col-sm-6 col-md-3" style="padding-bottom:5px;">
            <style>
              .img-rela {position:relative;}
              .img-rela .img-rela-bg {position:absolute;top:0;left:0;bottom:0;right: 0;display: none;background: #333; opacity: 0.5;z-index: 1;}
              .img-rela .img-rela-font {position:absolute;top:45%;left:0;bottom:0;right: 0;display: none;z-index: 2;text-align: center;color: white;font-size: 18px;}
              .img-rela:hover .img-rela-bg{display: block;}
              .img-rela:hover .img-rela-font{display: block;}
            </style>
            <div class="img-rela">
              <%= image_tag("https://ww3.sinaimg.cn/large/006tNc79gy1fhtol4xxbnj30m80xcqc4.jpg", class: "img-responsive img-center frontpage-img") %>
              <div class="img-rela-bg"></div>
              <div class="img-rela-font">爱尔兰移民</div>
            </div>
            <div class="img-rela" style="margin-top:10px;background-color:#e09576;" >
              <%= image_tag("https://ww2.sinaimg.cn/large/006tNc79gy1fhtoqjxof9j30rr0dw78t.jpg", class: "img-responsive img-center frontpage-img") %>
              <div class="img-rela-bg"></div>
              <div class="img-rela-font">塞浦路斯移民</div>
            </div>
          </div>
          <div class="col-xs-6  col-sm-6 col-md-3" style="padding-bottom:5px;">
            <div class="img-rela">
              <%= image_tag("https://ww1.sinaimg.cn/large/006tNc79gy1fhtnhwmjwtj30xc0xcqfo.jpg", class: "img-responsive img-center frontpage-img") %>
              <div class="img-rela-bg"></div>
              <div class="img-rela-font">希腊移民</div>
            </div>
            <div class="img-rela" style="margin-top:10px;">
              <%= image_tag("https://ww2.sinaimg.cn/large/006tNc79gy1fhtnhuiyw2j30b40b5mz6.jpg", class: "img-responsive img-center frontpage-img") %>
              <div class="img-rela-bg"></div>
              <div class="img-rela-font">西班牙移民</div>
            </div>

          </div>
          <div class="col-xs-6  col-sm-6 col-md-3" style="padding-bottom:5px;">
            <div class="img-rela">
              <%= image_tag("https://ww2.sinaimg.cn/large/006tNc79gy1fhtntougkhj30fg0aagni.jpg", class: "img-responsive img-center frontpage-img") %>
              <div class="img-rela-bg"></div>
              <div class="img-rela-font">葡萄牙移民</div>
            </div>
            <div class="img-rela" style="margin-top:5px;">
              <%= image_tag("https://ww3.sinaimg.cn/large/006tKfTcgy1fhuzdils6wj30fd0aajs3.jpg", class: "img-responsive img-center frontpage-img") %>
              <div class="img-rela-bg"></div>
              <div class="img-rela-font">马耳他移民</div>
            </div>
            <div class="img-rela" style="margin-top:5px;">
              <%= image_tag("https://ww4.sinaimg.cn/large/006tKfTcgy1fhuzdie177j30ff0aamxs.jpg", class: "img-responsive img-center frontpage-img") %>
              <div class="img-rela-bg"></div>
              <div class="img-rela-font">意大利移民</div>
            </div>
          </div>
          <div class="col-xs-6  col-sm-6 col-md-3" style="padding-bottom:5px;">
            <div class="img-rela">
              <%= image_tag("https://ww2.sinaimg.cn/large/006tNc79gy1fhtoqjxof9j30rr0dw78t.jpg", class: "img-responsive img-center frontpage-img") %>
              <div class="img-rela-bg"></div>
              <div class="img-rela-font">法国移民</div>
            </div>
            <div class="img-rela" style="margin-top:10px;">
              <%= image_tag("https://ww3.sinaimg.cn/large/006tNc79gy1fhtol4xxbnj30m80xcqc4.jpg", class: "img-responsive img-center frontpage-img") %>
              <div class="img-rela-bg"></div>
              <div class="img-rela-font">英国移民</div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
  </div>

<!-- 大洋洲移民国家-->
<div class="row">


  <div class="landing-page-mid" style="background-color:#f1f1f1;">
    <div class="container">
      <div class="row">

        <div class="col-md-12">
          <div class="tagline text-center">
            <img src="https://i.loli.net/2017/08/25/59a033878a0ac.png" alt="" width="60%">
          </div>
        </div>

        <!-- <p  class="titspan text-center">
          180万人民币起购房享欧洲福利 <br>
          帮助您构建海外资产蓝图
        </p> -->

         <h4 class="text-center tagp">
             精选欧洲移民项目
         </h4>
        <div class="container">
          <div class="col-xs-6  col-sm-6 col-md-3" style="padding-bottom:5px;">
            <div class="img-rela">
              <%= image_tag("https://ww2.sinaimg.cn/large/006tNc79gy1fhtntougkhj30fg0aagni.jpg", class: "img-responsive img-center frontpage-img") %>
              <div class="img-rela-bg"></div>
              <div class="img-rela-font">澳大利亚移民优势</div>
            </div>
            <div class="img-rela" style="margin-top:5px;">
              <%= image_tag("https://ww3.sinaimg.cn/large/006tKfTcgy1fhuzdils6wj30fd0aajs3.jpg", class: "img-responsive img-center frontpage-img") %>
              <div class="img-rela-bg"></div>
              <div class="img-rela-font">澳大利亚移民优势</div>
            </div>
            <div class="img-rela" style="margin-top:5px;">
              <%= image_tag("https://ww4.sinaimg.cn/large/006tKfTcgy1fhuzdie177j30ff0aamxs.jpg", class: "img-responsive img-center frontpage-img") %>
              <div class="img-rela-bg"></div>
              <div class="img-rela-font">澳大利亚移民优势</div>
            </div>
          </div>
          <div class="col-xs-6  col-sm-6 col-md-3" style="padding-bottom:5px;">
            <style>
              .img-rela {position:relative;}
              .img-rela .img-rela-bg {position:absolute;top:0;left:0;bottom:0;right: 0;display: none;background: #333; opacity: 0.5;z-index: 1;}
              .img-rela .img-rela-font {position:absolute;top:45%;left:0;bottom:0;right: 0;display: none;z-index: 2;text-align: center;color: white;font-size: 18px;}
              .img-rela:hover .img-rela-bg{display: block;}
              .img-rela:hover .img-rela-font{display: block;}
            </style>
            <div class="img-rela">
              <%= image_tag("https://ww3.sinaimg.cn/large/006tNc79gy1fhtol4xxbnj30m80xcqc4.jpg", class: "img-responsive img-center frontpage-img") %>
              <div class="img-rela-bg"></div>
              <div class="img-rela-font">澳大利亚移民</div>
            </div>
            <div class="img-rela" style="margin-top:10px;" >
              <%= image_tag("https://ww2.sinaimg.cn/large/006tNc79gy1fhtoqjxof9j30rr0dw78t.jpg", class: "img-responsive img-center frontpage-img") %>
              <div class="img-rela-bg"></div>
              <div class="img-rela-font">色块</div>
            </div>
          </div>
          <div class="col-xs-6  col-sm-6 col-md-3" style="padding-bottom:5px;">
            <div class="img-rela">
              <%= image_tag("https://ww1.sinaimg.cn/large/006tNc79gy1fhtnhwmjwtj30xc0xcqfo.jpg", class: "img-responsive img-center frontpage-img") %>
              <div class="img-rela-bg"></div>
              <div class="img-rela-font">新西兰移民优势</div>
            </div>
            <div class="img-rela" style="margin-top:10px;">
              <%= image_tag("https://ww2.sinaimg.cn/large/006tNc79gy1fhtnhuiyw2j30b40b5mz6.jpg", class: "img-responsive img-center frontpage-img") %>
              <div class="img-rela-bg"></div>
              <div class="img-rela-font">新西兰移民项目</div>
            </div>

          </div>

          <div class="col-xs-6  col-sm-6 col-md-3" style="padding-bottom:5px;">
            <div class="img-rela">
              <%= image_tag("https://ww4.sinaimg.cn/large/006tKfTcgy1fivahpl0gvj30eo0tzq5r.jpg", class: "img-responsive img-center frontpage-img") %>
              <div class="img-rela-bg"></div>
              <div class="img-rela-font">新西兰移民</div>
            </div>

          </div>
        </div>


      </div>
    </div>
  </div>
  </div>

<!-- 护照／其他移民国家-->
<div class="row">


  <div class="landing-page-mid">
    <div class="container">
      <div class="row">

        <div class="col-md-12">
          <div class="tagline text-center">
            <img src="https://i.loli.net/2017/08/25/59a033879b405.png" alt="" width="60%">
          </div>
        </div>

        <!-- <p  class="titspan text-center">
          180万人民币起购房享欧洲福利 <br>
          帮助您构建海外资产蓝图
        </p> -->

         <h4 class="text-center tagp">
             精选欧洲移民项目
         </h4>
        <div class="container">
          <div class="col-xs-6  col-sm-6 col-md-3" style="padding-bottom:5px;">
            <style>
              .img-rela {position:relative;}
              .img-rela .img-rela-bg {position:absolute;top:0;left:0;bottom:0;right: 0;display: none;background: #333; opacity: 0.5;z-index: 1;}
              .img-rela .img-rela-font {position:absolute;top:45%;left:0;bottom:0;right: 0;display: none;z-index: 2;text-align: center;color: white;font-size: 18px;}
              .img-rela:hover .img-rela-bg{display: block;}
              .img-rela:hover .img-rela-font{display: block;}
            </style>
            <div class="img-rela">
              <%= image_tag("https://ww4.sinaimg.cn/large/006tKfTcgy1fivahpl0gvj30eo0tzq5r.jpg", class: "img-responsive img-center frontpage-img") %>
              <div class="img-rela-bg"></div>
              <div class="img-rela-font">圣基茨移民</div>
            </div>

          </div>
          <div class="col-xs-6  col-sm-6 col-md-3" style="padding-bottom:5px;">
            <div class="img-rela">
              <%= image_tag("https://ww1.sinaimg.cn/large/006tNc79gy1fhtnhwmjwtj30xc0xcqfo.jpg", class: "img-responsive img-center frontpage-img") %>
              <div class="img-rela-bg"></div>
              <div class="img-rela-font">格林纳达移民</div>
            </div>
            <div class="img-rela" style="margin-top:10px;">
              <%= image_tag("https://ww2.sinaimg.cn/large/006tNc79gy1fhtnhuiyw2j30b40b5mz6.jpg", class: "img-responsive img-center frontpage-img") %>
              <div class="img-rela-bg"></div>
              <div class="img-rela-font">多米尼克移民</div>
            </div>

          </div>
          <div class="col-xs-6  col-sm-6 col-md-3" style="padding-bottom:5px;">
            <div class="img-rela">
              <%= image_tag("https://ww2.sinaimg.cn/large/006tNc79gy1fhtoqjxof9j30rr0dw78t.jpg", class: "img-responsive img-center frontpage-img") %>
              <div class="img-rela-bg"></div>
              <div class="img-rela-font">移民优势</div>
            </div>
            <div class="img-rela" style="margin-top:10px;">
              <%= image_tag("https://ww3.sinaimg.cn/large/006tNc79gy1fhtol4xxbnj30m80xcqc4.jpg", class: "img-responsive img-center frontpage-img") %>
              <div class="img-rela-bg"></div>
              <div class="img-rela-font">安提瓜移民</div>
            </div>
          </div>
          <div class="col-xs-6  col-sm-6 col-md-3" style="padding-bottom:5px;">
            <div class="img-rela">
              <%= image_tag("https://ww2.sinaimg.cn/large/006tNc79gy1fhtntougkhj30fg0aagni.jpg", class: "img-responsive img-center frontpage-img") %>
              <div class="img-rela-bg"></div>
              <div class="img-rela-font">移民优势</div>
            </div>
            <div class="img-rela" style="margin-top:5px;">
              <%= image_tag("https://ww3.sinaimg.cn/large/006tKfTcgy1fhuzdils6wj30fd0aajs3.jpg", class: "img-responsive img-center frontpage-img") %>
              <div class="img-rela-bg"></div>
              <div class="img-rela-font">移民优势</div>
            </div>
            <div class="img-rela" style="margin-top:5px;">
              <%= image_tag("https://ww4.sinaimg.cn/large/006tKfTcgy1fhuzdie177j30ff0aamxs.jpg", class: "img-responsive img-center frontpage-img") %>
              <div class="img-rela-bg"></div>
              <div class="img-rela-font">移民优势</div>
            </div>
          </div>

        </div>


      </div>
    </div>
  </div>
  </div>


<!-- 成功案例版面   -->
<div class="row landing-page-eva">
    <div class="container">
      <div class="col-md-12">
        <div class="tagline text-center">
          <img src="https://i.loli.net/2017/08/25/59a033879a481.png" alt="" width="60%">
        </div>
          <div class="col-xs-12 col-sm-12 col-md-6 landing-page-eva-style">
            <div class="col-xs-12 col-sm-12 col-md-3 text-center">
              <div class="" style="width:110px; display: inline-block;">
                <%= image_tag("https://ww3.sinaimg.cn/large/006tNc79gy1fhrmzrrrgjj315u15tb29.jpg", class: "img-circle img-responsive img-center frontpage-img") %>
              </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-9" >
              <h5 style="color:black;">康思斌-北加州湖北同乡会副会长 </h5>
              <h7>@SibinKang</h7>
              <p>从初中每天罚站，到考上美国名校南加州大学，
                 我们的儿子通过尚德信德人生规划和移民服务
                 实现了名校梦想，感谢尚德信贴心德服务！
              </p>
            </div>
            <!-- 模态框测试 -->

            <div class="video-btn-block">
              <a href="#" class="video-btn"  data-toggle="modal" data-target="#video-modal">
                <i class="fa fa-play-circle-o" aria-hidden="true"></i><span class="text">公司介绍</span>
              </a>
            </div>

            <div class="modal fade welcom-modal" id="video-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="document.getElementById('dzlv').pause();">×</button>
                  </div>
                  <div class="modal-body dzl-body">
                    <div align="center" class="embed-responsive embed-responsive-16by9">
                      <video id="dzlv" controls class="embed-responsive-item">
                        <source   src="http://oud39o8jh.bkt.clouddn.com/belrus%20copy.mp4" type="video/mp4">
                          你的游览器不支持此视频播放
                      </video>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- 模态框测试  end-->
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 landing-page-eva-style">
            <div class="col-xs-12 col-sm-12 col-md-3 text-center">
              <div class="" style="width:110px; display: inline-block;">
              <%= image_tag("https://ww3.sinaimg.cn/large/006tKfTcgy1fi283uazt1j30bt0bttgr.jpg", class: "img-circle img-responsive img-center frontpage-img") %>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9" >
              <h5 style="color:black;">张瑞兰-加州武汉创新科技董事长</h5>
              <h7>@XiaoLanZhang</h7>
              <p>女儿从一个在国内每天打游戏的假小子，变成了东海岸
                女子私校里多才多艺、品学兼优德学生会代表，同时也有了
                自己的理想和目标。这一切都离不开尚德信德教育社群和人生规划
              </p>

            </div>
            <!-- 模态框测试 -->

            <div class="video-btn-block">
                    <a href="#" class="video-btn"  data-toggle="modal" data-target="#video-modal"><i class="fa fa-play-circle-o" aria-hidden="true"></i><span class="text">客户感言</span></a>
            </div>


            <div class="modal fade welcom-modal" id="video-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="document.getElementById('dzlv2').pause();">×</button>
                  </div>
                  <div class="modal-body dzl-body">
                    <div align="center" class="embed-responsive embed-responsive-16by9">
                      <video id="dzlv2" controls class="embed-responsive-item">
                        <source   src="http://oud39o8jh.bkt.clouddn.com/belrus%20copy.mp4" type="video/mp4">
                          你的游览器不支持此视频播放
                      </video>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- 模态框测试  end-->
          </div>
      </div>
    </div>
  </div>


<!-- 立即行动 -->
  <div class="row ">
    <div class="landing-page-adv">
      <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-6 text-center customer-requst" >
          <div class="">
            <img src="https://i.loli.net/2017/08/25/59a042e37f3d0.png" alt="" width="40%">
          </div>
          <div class="" style="padding-top:30px;">
            <p style="color:#e1424b;font-size:20px;">免费咨询</p>
            <p style="color:#2f2927;font-size:14px;">留下您的联系方式，移民顾问将与您联系</p>
          </div>
          <div class="text-center" style="margin-left:20%;margin-right:20%;">
            <%= simple_form_for [@message] do |f| %>
              <div class="form-group ">
                <%= f.input :name,style: "height:60px;",inline_label: '您的称呼', label: false%>
              </div>
              <div class="form-group">
                <%= f.input :telphone,style: "height:60px;" ,inline_label: '手机号码', label: false%>
              </div>
              <%= f.submit "预约咨询顾问", class: "btn btn-sm btn-default",style:"background-color: #e1424b;width: 274px; height: 60px;color:#f1f1f1;font-size:18px;", data: {disable_with: "Submiting..."} %>
            <% end %>
          </div>

        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 text-center customer-tel" style="border-left:dashed 1px #2f2927;">
          <div class="">
            <img src="https://i.loli.net/2017/08/25/59a0434f3580a.png" alt="" width="40%">
          </div>
          <div class="" style="color:#2f2927;font-size:14px;padding:10px 0px;">
            通过以下方式联系我们移民专家，了解更过服务及产品信息
          </div>
          <div class="">
            <img src="https://i.loli.net/2017/08/25/59a043c8c4aa5.png" alt="" width="60%">
          </div>

        </div>
      </div>
    </div>
  </div>
