<div class="row" >
  <div class="decorative_picture col-md-12" >
    <%= image_tag("https://i.loli.net/2017/08/01/59800a81e044f.png", class: "img-responsive center-block") %>
  </div>
</div>

<div class="container all-product-box" style="padding-top:30px;">
  <div class="row">
    <div class="text-center project-list-bar" >



    <div class="project-list-bar-title">
      移民国家
    </div>

    <div class="" style="position:absolute;left:40px;top:40px;;">
      <img src="https://i.loli.net/2017/08/04/5984301949724.png" alt="" class="img-responsive">
    </div>

    </div>


    <div class="all-product-box">
      <!-- <div class="row"> -->

        <% @products.each do |project| %>
          <div class="col-xs-12 col-md-4 product-list-style  center-block all_image_css">
            <div class="" style="">


            <% if project.image.present? %>
              <%=link_to image_tag(project.image.medium.url,class: " img-width"),product_path(project),target: "_blank" %>

            <% else %>
             <%= link_to image_tag("http://placehold.it/300x300&text=No Pic", class: "img-width"), product_path(project), target: "_blank"  %>
            <% end %>
            </div>
            <div class="project-list-title">
              <%= project.title %>
              <div class="project-list-title-ico">

              </div>
            </div>
            <div class="project-list-subtits" >
              <%= project.description %>
            </div>
            <div class="project-list-position">
                所属国家：<i class="fa fa-map-marker" style="width:20px;"></i>美国
            </div>
          </div>
        <% end %>

      <!-- </div> -->
    </div>



  </div>
</div>
